@import url(https://fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);
@import url(https://use.fontawesome.com/releases/v5.2.0/css/all.css);
div {
    width: 100%;
    text-align: center;
}

#items {
    font-family: 'Noto Sans', sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

#items td, #items th {
    border: 0px solid #278FE8;
    padding: 10px;
}

#items tr:nth-child(even) {
    background-color: #222222;
}

#items tr:hover {
    background-color: #444444;
}

#items th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #278FE8;
    color: #e7e7e7;
}

#items td {
    color: #2ac400;
}

.img-preview {
    width: 30px;
    border-radius: 2px;
}

.img-preview-paypal {
    width: 50px;
    filter: brightness(150%);
}

#items i {
    cursor: pointer;
    margin: 3px;
    font-size: 20px;
}

body {
    background: #111111;
    /* background-image: url(https://steamcdn-a.akamaihd.net/steamcommunity/public/images/items/267420/36041a3b2aa6db4d4d643a0f9cb2f3c84e7db3c9.jpg); */
    background-position: center;
    background-attachment: fixed;
    margin: 0;
}

h1 {
    color: #2ac400;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

h2 {
    color: #2ac400;
    text-align: center;
    font-family: 'Lato', sans-serif;
}

.button {
    background-color: #278FE8;
    color: #dadada;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    border: 2px solid transparent;
}

.button-goback {
    background-color: #278FE8;
    border: none;
    color: #dadada;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 5px;
    float: left;
}

.button-goback:hover {
    background: rgba(0, 0, 0, .15);
    color: #278FE8;
    border: 2px solid #278FE8;
}

.button:hover {
    background: rgba(0, 0, 0, .15);
    transition: background-color .5s ease;
    color: #278FE8;
    border: 2px solid #278FE8;
}

nav {
    text-align: center;
    max-width: 850px;
    margin: 0 auto;
}

footer img {
    width: 300px;
    margin: 20px;
}

footer {
    text-align: center;
}

a:visited {
    color: #2ac400;
}

a:link {
    color: #2ac400;
    text-decoration: none;
}

/* styles about radios page */

.radios {
    /* background: green; */
    max-width: 850px;
    margin: 0 auto;
    margin-bottom: 2rem;

}

.radios ul {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.radio {
    /* border: .5px solid transparent; */
    border-radius: 3px;
    box-shadow: 0px 0px 18px -1px rgba(0, 0, 0, 0.75);
    width: 130px;
    text-align: center;
    background: #232323;
    padding: .5rem;
    margin: .5rem;
    transition: transform .5s ease;
}

.radio:hover {
    /* border: .5px solid #278FE8; */
    transform: scale(1.05);
    filter: brightness(110%);
}

.radio img {
    width: 100%;
    /* box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75); */
    border-radius: 3px;
}

.radio img:hover {
    filter: brightness(140%);
    filter: contrast(140%);
}

.radio .image {
    width: 130px;
    height: 130px;
    /* background: black; */
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */

}

.radio .title {
    font-family: 'Noto Sans', sans-serif;
    padding: .5rem 0;
    color: #e7e7e7;
}

.radio .title a {
    color: #dadada;
}

/* #MusesRadioPlayer-HTML5-player-0 {
    box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
} */